<div class="d-flex justify-content-center">
    <div class="card w-33 m-2 p-2">
        <div class="card-body">
            <h2 class="card-title">Access Menu Admin Page</h2>
            <p class="card-body">View and edit the menu that customers will see.</p>
            <a class="btn btn-primary" href="/admin/menu">Go!</a>
        </div>
    </div>


    <div class="card w-33 m-2 p-2">
        <div class="card-body">
            <h2 class="card-title">Access Orders Admin Page</h2>
            <p class="card-body">View and edit the list of current outstanding orders.</p>
            <a class="btn btn-primary" href="/admin/orders">Go!</a>
        </div>
    </div>
</div>
